@import "variaveis";
@import "reset";

/* Superinfo */
.superinfo-bg {
  background: $azul-principal;
  color: $white;
}

.superinfo {
  max-width: $container;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
  p,
  a {
    margin: 0 10px 10px 10px;
  }
}

.superinfo a {
  color: $white;
}

/* Menu */
.menu-bg {
  background: $azul-secundario;
}

.menu {
  max-width: $container;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  a {
    color: $white;
  }
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
  }
  a:hover {
    color: $azul-principal;
  }
}

/* Introdução */
.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: $container;
  margin: 0 auto;
  padding: 60px 10px;
}

/* sobre */
.sobre {
  border-top: 2px solid $azul-principal;
  border-bottom: 2px solid $azul-principal;
  max-width: $container;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px; // Quando quebrar o sobre-info e chegar em 300px, ele ''quebra''.
  margin: 0 10px;
  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: $light-gray;
  }
}

.sobre-img {
  flex: 1 1 160px; // Quando quebrar o sobre-info e chegar em 160px, ele ''quebra'' a img.
  margin: 0 10px;
}

/* Produtos */
.produtos {
  max-width: $container;
  margin: 0 auto;
  padding: 60px 0;
  h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
  }
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
  h2 {
    font-size: 3em;
    color: #a4a4a4;
    background: #f7f7f7;
    padding: 60px 20px;
  }
}

.purple {
  border-top: 8px solid $border-purple;
}

.pink {
  border-top: 8px solid $border-pink;
}

.blue {
  border-top: 8px solid $border-blue;
}
